form {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px var(--secondary-text-color);
  }
  form input,
  form input::placeholder,
  form textarea,
  form textarea::placeholder {
    font-family: inherit;
    color: var(--secondary-text-color);
    resize: none;
  }
  form input,
  form textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
  }
  form,
  form input,
  form textarea {
    background: var(--primary-background-color);
  }
  
  form input,
  form input::placeholder {
    font-size: 1.1em;
    font-weight: 500;
  }
  form textarea,
  form textarea::placeholder {
    font-size: 1em;
    font-weight: 400;
  }
  button.form-button {
    position: absolute;
    right: 40px;
    bottom: -25px;
    border: none;
    border-radius: 50%;
    background: var(--primary-detail-color);
    color: var(--secondary-accent-color);
    box-shadow: 0 1px 3px var(--primary-shadow-color);
    cursor: pointer;
    outline: none;
  }
  button.form-button:hover {
    background: var(--secondary-detail-color);
    color: var(--primary-accent-color);
  }
  
  .alert-container {
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-container .css-cpgvjg-MuiSnackbar-root {
    position: static;
  }