:root {
  --primary-text-color: #427d9d;
  --secondary-text-color: #7d7463;
  --primary-background-color: #f3f3f3;
  --primary-detail-color: #61a3ba;
  --secondary-detail-color: #427d9d;
  --primary-accent-color: #ffa400;
  --secondary-accent-color: #f5ba13;
  --primary-shadow-color: rgba(0, 0, 0, 0.3);
  --primary-font-family: "Montserrat", sans-serif;
  --secondary-font-family: "McLaren", cursive;
}

body {
  background: var(--primary-background-color);
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  font-family: var(--primary-font-family);
}
